.colr_money {
  background: #3f51b5;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.brn_check {
  background: #fff;
  color: #3f51b5;
  border-color: #fff;
}
.add_money h4{
  color: #fff;
}
.ask_a_question{
  margin-top: 20px;
}
.choose_category h4{
  margin-top: 40px;
}
.choose_category{
  margin-bottom: 20px;
}
.flter_based_on_category ul li{
  font-size: 14px;
  color: #565656;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  list-style: none;
}
.flter_based_on_category ul{
  padding-left: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ff9800;
}
.wallet {
  background: #E0E3F1;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 20px;
}
.btn_center{
  text-align: center;
}

.time_am.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #3f51b5;
  
}
.time_am .nav-link{
  cursor: pointer !important;
}

input[type=radio] {
  opacity: 0;
  width: 30%;
  height: 42px;
  background-color: blue;
  position: relative;
  z-index: 1;
}

.input-container {
  height: 42px;
  width: 100%;
  line-height: 42px;
  text-align: center;
  position: relative;
}
.input-container:first-child label {
  border-radius: 5px 0 0 5px;
}
.input-container:last-child label {
  border-radius: 0 5px 5px 0;
  border-right: 2px solid #CCC;
}

.am_time {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #CCC;
  border-right: inherit;
  top: 0;
  left: 0;
  font-family: arial;
  color: #737373;
}

input:checked + .am_time {
  background-color: #3f51b5;
  top: 0;
  left: 0;
  border: 2px solid #3f51b5 !important;
  z-index: 2;
  color: white;
}